<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID Tools</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header class="header">
        <div class="container header__container">
      <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png"> <h1 class="header__title">COVID<span class="header__light">Tools</span></h1></div> 
        
        <div class="header__menu">
          <nav id="navbar" class="header__nav collapse">
            <ul class="header__elenco">
              <li class="header__el"><a href="heart" class="header__link">Heart Rate Detector</a></li>
              <li class="header__el"><a href="mask" class="header__link">Mask Detector</a></li>
            </ul>
          </nav>
        </div>
          </div>
      </header>
      
      <div class="sect sect--padding-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
          <div class="site">
            <h1 class="site__title">Hacking Heist</h1>
            <h2 class="site__subtitle">COVID Tools</h2>
            <div class="site__box-link">
              <a class="btn btn--width" href="heart">Heart Rate Detector</a>
              <a class="btn btn--revert btn--width" href="mask">Mask Detector</a>
          </div>
          </div>
        </div>
      </div>
        </div>
        </div>
      <footer style="position: fixed;">
        <p>Source code on <a style="color: #63b2fc" href="https://github.com/Daksh777/hacking-heist">GitHub</a></p>
    </footer>
</body>
</html>