<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heartrate</title>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <header class="header">
        <div class="container header__container">
      <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png"> <h1 class="header__title">COVID<span class="header__light">Tools</span></h1></div> 
        
        <div class="header__menu">
          <nav id="navbar" class="header__nav collapse">
            <ul class="header__elenco">
            <li class="header__el"><a href="/" class="header__link">Home</a></li>
              <li class="header__el"><a href="heart" class="header__link">Heart Rate Detector</a></li>
            </ul>
          </nav>
        </div>
          </div>
      </header>
    <h1 style="text-align: center" id="heading">MASK DETECTION</h1>
    <img src="{{ url_for('video_feed1') }}" width="100%">
    <!-- <div id="camera">
        <video controls></video>
        
        <video id="vid2" controls></video>

        <p><button id="btnStart">START RECORDING</button><br/>
            <button id="btnStop">STOP RECORDING</button></p>
        
    </div> -->

 <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
<script>
let constraintObj = { 
            audio: false, 
            video: { 
                facingMode: "user", 
                width: { min: 640, ideal: 1080, max: 1080 },
                height: { min: 480, ideal: 1080, max: 1080 } 
            } 
        }; 
        // width: 1280, height: 720  -- preference only
        // facingMode: {exact: "user"}
        // facingMode: "environment"
        
        //handle older browsers that might implement getUserMedia in some way
        if (navigator.mediaDevices === undefined) {
            navigator.mediaDevices = {};
            navigator.mediaDevices.getUserMedia = function(constraintObj) {
                let getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                if (!getUserMedia) {
                    return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                }
                return new Promise(function(resolve, reject) {
                    getUserMedia.call(navigator, constraintObj, resolve, reject);
                });
            }
        }else{
            navigator.mediaDevices.enumerateDevices()
            .then(devices => {
                devices.forEach(device=>{
                    console.log(device.kind.toUpperCase(), device.label);
                    //, device.deviceId
                })
            })
            .catch(err=>{
                console.log(err.name, err.message);
            })
        }

        navigator.mediaDevices.getUserMedia(constraintObj)
        .then(function(mediaStreamObj) {
            //connect the media stream to the first video element
            let video = document.querySelector('video');
            if ("srcObject" in video) {
                video.srcObject = mediaStreamObj;
            } else {
                //old version
                video.src = window.URL.createObjectURL(mediaStreamObj);
            }
            
            video.onloadedmetadata = function(ev) {
                //show in the video element what is being captured by the webcam
                video.play();
            };
            
            //add listeners for saving video/audio
            let start = document.getElementById('btnStart');
            let stop = document.getElementById('btnStop');
            let vidSave = document.getElementById('vid2');
            let mediaRecorder = new MediaRecorder(mediaStreamObj);
            let chunks = [];
            
            start.addEventListener('click', (ev)=>{
                mediaRecorder.start();
                console.log(mediaRecorder.state);
            })
            stop.addEventListener('click', (ev)=>{
                mediaRecorder.stop();
                console.log(mediaRecorder.state);
            });
            mediaRecorder.ondataavailable = function(ev) {
                chunks.push(ev.data);
            }
            mediaRecorder.onstop = (ev)=>{
                let blob = new Blob(chunks, { 'type' : 'video/mp4;' });
                console.log("HERE cHUKCS");
                console.log(chunks);
                chunks = [];
                let videoURL = window.URL.createObjectURL(blob);
                vidSave.src = videoURL;

                $.ajax ({
                url: "/",
                type: "POST",
                data: blob,
                contentType: "video/mp4",
                processData: false,
                success: function(resp){
                    console.log(resp);
                }
                });

            }
        })
        .catch(function(err) { 
            console.log(err.name, err.message); 
        });

 </script>
 <footer>
    <p>Source code on <a style="color: #63b2fc" href="https://github.com/Daksh777/hacking-heist">GitHub</a></p>
</footer>
  </body>
</html>